@import "./styleSettings";

* {
    font-family: 'Abel', Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.center {
    display: grid;
    place-items: center;
}

h1 {
    text-align: center;
}

#search-name {
    width: 80%;
    margin: 20px auto;
    font-size: 16px;
    padding: 12px 20px;

    &::before {
        font-family: 'FontAwesome';
        content: '\f002';
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
        color: $darkGrayTextColor;
    }
}

.card {
    width: 450px;
    height: 250px;
    background-color: $whiteTextColor;
    background: linear-gradient($superLightBgColor, $whiteTextColor);
    box-shadow: 0 8px 16px -8px boxShadow(0.4);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    margin: 1.5rem;

    h1 {
        margin-top: 30px;
        text-align: center;
        font-size: 28px;
    }

    .detail-info {
        position: absolute;
        width: 150px;
        height: 100%;
        transition: width 0.4s;
        overflow: hidden;
        color: $whiteTextColor;
        z-index: 2;

        .user-card {
            width: 150px;
            height: 100%;
            position: relative;
            float: left;
            display: grid;
            place-items: center;

            .user-name {
                align-self: flex-end;
                text-transform: uppercase;
                font-size: 0.75em;
                font-weight: bold;
                background: boxShadow(0.15);
                padding: 0.125rem 0.75rem;
                border-radius: 100px;
                white-space: nowrap;
            }

            &::after {
                content: "";
                display: block;
                position: absolute;
                top: 10%;
                right: -2px;
                height: 80%;
                border-left: 2px solid boxShadow(0.025);
            }
        }

        .more-info {
            width: 300px;
            float: left;
            position: absolute;
            left: 150px;
            height: 100%;
            display: grid;
            grid-template-rows: 3fr 1fr 1fr 1fr 3fr;

            h1 {
                margin-bottom: 0;
            }
        }
    }

    .general {
        width: 300px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        box-sizing: border-box;
        padding: 1rem;
        padding-top: 0;
        color: $darkGrayTextColor;
        display: grid;
        grid-template-rows: 3fr 1fr 4fr 1fr;
    
        .more {
            position: absolute;
            bottom: 1rem;
            right: 1rem;
            font-size: 0.9em;
        }
    
        h3 {
            position: relative;
            text-align: center;
            top: 40%;
        }

        .coords {
            margin: 0;
        }
    }

    &:nth-child(odd) {
        .detail-info {
            background: $accentRedColor;
        }
    }

    &:nth-child(even) {
        .detail-info {
            background: $greenCardBg;
        }
    }

    &:hover .detail-info {
        width: 100%;
        border-radius: 0 5px 5px 0;
    }

    .coords {
        margin: 0 1rem;
        font-size: 1rem;

        span + span {
            float: right;
        }
    } 
}